{% extends "base.html" %}
{% block content %}
    <div id="orders" class="pb-3">
        <h1>Backoffice</h1>
        <div id="orders" class="pb-3">
            <h3>Current orders</h3>
            <div class="card col-6">
                <ul class="list-group list-group-flush">
                    {% for order in orders %}
                        <li class="list-group-item">{{ order }}</li>
                    {% empty %}
                        <li class="list-group-item"><i>No orders found. Place an order <a
                                href="{% url 'delivery' %}">here</a></i></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="bookings" class="pb-3">
        <h3>Current bookings</h3>
        <div class="card col-6">
            <ul class="list-group list-group-flush">
                {% for booking in bookings %}
                    <li class="list-group-item">{{ booking }}</li>
                {% empty %}
                    <li class="list-group-item"><i>No bookings found. Book a table <a
                            href="{% url 'booking' %}">here</a></i></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}