{% extends "base.html" %}
{% block content %}
    <div class="row p-3">
        <form method="POST">
            {% for product in products %}
                <div class="card col" style="border: 1px solid black">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description|truncatechars:80 }}</p>
                            </div>
                            <div class="col text-end">
                                <div class="row">
                                    <div class="col"><label for="{{ product.id }}"><a>Quantity: </a></label></div>
                                    <div class="col"><input type="number" id="{{ product.id }}" value="0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <input class="button" type="submit" value="Order now">
        </form>
    </div>
{% endblock %}
